<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #ffffff;}
.s2 { color: #54b33e;}
.s3 { color: #ebebeb;}
</style>
</head>
<body bgcolor="#131314">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;FrameLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#1113&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#25A69A&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;356dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;76dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FF0033&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FF0033&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FF0033&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#062CFF&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;MUFTI&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;&quot;</span><span class="s0">/&gt;</span>





<span class="s0">&lt;/FrameLayout&gt;</span></pre>
</body>
</html>